{% extends "layout.html" %}
{% block title %} 修改书目信息 {% endblock %}
{% block link %} 
	{% if book %}
	<a href="{{ url_for('manager_book', id=book.book_id)}}"> 返回 </a>
	{% endif %}
{% endblock %}
{% block body %}
	<h2> 修改书目信息 </h2>
	{% if error %}
	<div class = error>
	  <strong>Error : </strong> {{error}}
	</div>
	{% endif %}
	{% if book %}
	<form action="" method=post>
	  <dl>
	    <dt>书名:</dt>
	    <dd><input type=text name=name size=30 value={{book.book_name}}> </dd>
	    <dt>作者:</dt>
	    <dd><input type=text name=author size=30 value={{book.author}}> </dd>
	    <dt>出版社:</dt>
	    <dd><input type=text name=company size=30 value={{book.publish_com}}> </dd>
	    <dt>出版日期:</dt>
	    <dd><input type=text name=date size=30 value={{book.publish_date}}> </dd>
	  </dl>
	  <div class=actions>
	    <input type=submit value="修改">
	  </div>
	</form>
	{% endif %}
{% endblock %} 
