{% extends "layout.html" %}
{% block title %} 删除书目 {% endblock %}
{% block link %}
	<a href="{{ url_for('manager')}}"> 返回 </a>
{% endblock %}

{% block body %}
	<h2> 删除书目 </h2>
	{% if error %}
	<div class=error>
	  <strong>Errror : </strong> {{error}}
	</div>
	{% endif %}  
	<div class=actions>
		<form action="" method=post>
	    	<select name="book">
	    		<option value="name">书名</option>
				<option value="isbn">ISBN</option>
	    	</select>
	    	<input type="text" name="find" size="80"> 
		    <input type="submit" value="删除" />
	    </form>
    </div>
{% endblock %}
