{% extends "layout.html" %}
{% block title%} 读者登录 {% endblock%}
{% block link%}
	<a href="{{ url_for('index')}}"> 返回   </a>|
	<a href="{{ url_for('register')}}"> 注册 </a>
{% endblock%}
{% block body %}
	<h2> 读者登录 </h2>
	{% if error %}
	<div class = error>
	  <strong>Error : </strong> {{error}}
	</div>
	{% endif%}
	<form action="" method=post>
	  <dl>
	    <dt>用户名: </dt>
	    <dd><input type=text name=username size=30 value="{{ request.form.username}}"> </dd>
	    <dt>密码:	 </dt>
	    <dd><input type=password name=password size=30> </dd>
	  </dl>
	  <div class=actions>
	    <input type=submit value="登录">
	  </div>
	</form>
{% endblock %}
